Repository SST-OSS/club-onboarding, pull requests merged in 2023-09, with the labels that each got.

#34 Update readme.md
  javaProblems/readme.md
Labels: java-problem-addition

#75 Add Solution for GCD and LCM Problem
  javaProblems/problem31/Readme.md
  javaProblems/problem31/Solution.java
  javaProblems/problem31/Test.java
Labels: java-problem-solution

#81 Add Solution for Power of 2 Problem
  javaProblems/problem7/Readme.md
  javaProblems/problem7/Solution.java
  javaProblems/problem7/Test.java
Labels: java-problem-solution

#86 Java Problem 65 - The GCD of Array Problem
  javaProblems/problem65/Solution.java
  javaProblems/problem65/Test.java
  javaProblems/problem65/readme.md
Labels: java-problem-addition, java-problem-solution

#88 Solved problem 27
  javaProblems/problem27/Solution.java
  javaProblems/problem27/Test.java
  javaProblems/problem27/readme.md
Labels: java-problem-solution

#76 Java problem 24 , test file updated
  javaProblems/problem24/Solution.java
  javaProblems/problem24/Test.java
  javaProblems/problem24/readme.md
  problem24/Solution.java
  problem24/Test.java
  problem24/readme.md
Labels: java-problem-solution

#87 Java problem 10
  javaProblems/problem10/Readme.md
  javaProblems/problem10/Test.java
  javaProblems/problem10/solution.java
Labels: java-problem-solution

#96 solved problem23
  javaProblems/problem23/Solution.java
  javaProblems/problem23/Test.java
  javaProblems/problem23/readme.md
Labels: java-problem-solution

#97 solved problem15
  javaProblems/problem15/Solution.java
  javaProblems/problem15/Test.java
  javaProblems/problem15/readme.md
Labels: java-problem-solution

#99 solved problem11
  javaProblems/problem11/Solution.java
  javaProblems/problem11/Test.java
  javaProblems/problem11/readme.md
Labels: java-problem-solution

#106 solved problem22
  javaProblems/problem22/Solution.java
  javaProblems/problem22/Test.java
  javaProblems/problem22/readme.md
Labels: java-problem-solution

#109 solved problem12
  javaProblems/problem12/Solution.java
  javaProblems/problem12/Test.java
  javaProblems/problem12/readme.md
Labels: java-problem-solution

#103 Add Solution for `Is A Number Prime` Problem
  javaProblems/problem19/Readme.md
  javaProblems/problem19/Solution.java
  javaProblems/problem19/Test.java
Labels: java-problem-solution

#105 Add Solution for `Permuted Multiples` Problem
  javaProblems/problem21/Readme.md
  javaProblems/problem21/Solution.java
  javaProblems/problem21/Test.java
Labels: java-problem-solution

#112 solved problem33
  javaProblems/problem33/Solution.java
  javaProblems/problem33/Test.java
  javaProblems/problem33/readme.md
Labels: java-problem-solution
